[Unit]
Description=Intrlock MediaMTX Camera Bridge
After=network-online.target intrlock-network.service intrlock-bridge.service
Wants=network-online.target
Requires=intrlock-network.service

[Service]
Type=simple
ExecStartPre=/bin/sleep 5
ExecStart=/opt/mediamtx/mediamtx /opt/intrlock-bridge/config/mediamtx-cameras.yml
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
